<div class="container">
  <h1 class="text-center">Cadastrar vaga</h1>
  <form>
    <div class="mb-3">
      <label for="" class="form-label">ID</label>
      <input type="text" class="form-control" id="" name="id" [(ngModel)]=vaga.id>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">NOME</label>
      <input type="text" class="form-control" id="" name="nome" [(ngModel)]=vaga.nome>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">FOTO</label>
      <input type="text" class="form-control" id="" name="foto" [(ngModel)]=vaga.foto>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">DESCRIÇÃO</label>
      <input type="text" class="form-control" id="" name="descricao" [(ngModel)]=vaga.descricao>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">SALÀRIO</label>
      <input type="text" class="form-control" id="" name="salario" [(ngModel)]=vaga.salario>
    </div>
    <button type="button" (click)="cadastrar()" class="btn btn-primary">Cadastrar</button>
    <button type="button" (click)="atualizar(vaga.id)" class="btn btn-primary">Atualizar</button>
    <button type="button" (click)="excluir(vaga.id)" class="btn btn-primary">Excluir</button>
  </form>
</div>